<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2008/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>
        My Snippet
      </Title>
      <Shortcut>MyShortcut</Shortcut>
    </Header>
    <Snippet>
      <Code>
        int main()
        {
        
        }
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>